/.venv/
/Assignment1/.venv/
/Assignment2/.venv/
/Assignment3/.venv/
/Assignment4/.venv/
/Assignment5/.venv/
/Assignment1/Results/
/Assignment2/Results/
/Assignment3/Results/
/Assignment4/Results/
/Assignment5/Results/
