.venv/
Assignment-1/.venv/
Assignment-2/.venv/
Assignment-3/.venv/
Assignment-4/.venv/
Assignment-5/.venv/
Assignment-1/Results/
Assignment-2/Results/
Assignment-3/Results/
Assignment-4/Results/
Assignment-5/Results/
Results/